/********** Template CSS **********/
:root {
    --primary:#10994ec3;
    --light: #F0FBFC;
    --dark: #181d38;
    --indigenous: rgb(43, 69, 51);
    --text-color: #181d38;
    --variable-color: rgb(236, 238, 237);
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    background-color:  #eaab0dfe;
    outline: none;
    border: none;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    #nav-title{
        color: green;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    height: 65vh;
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .3)), url(../img/fbg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-background {
  background-color: rgb(236, 238, 237);
}

.service-item {
    background: var(--indigenous);
    color: white;
    transition: .5s;
    border-radius: 8px;
}
.service-item .service-title h5 {
  color: #eaab0dfe;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--indigenous);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}
.glimpse {
    border-radius: 8px;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(143, 206, 174, 0.1) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(164, 214, 188, 0.1) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    
}
.footer {
    background-color: rgb(43, 69, 51);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.main-page {
  background-color: rgb(236, 238, 237);
  padding-right: 30px;
}
.main-page .logo {
  padding: 20px;
}
  @media (max-width: 768px) {
     .card-paragraph {
      padding-left: 70px;
      padding-right: 70px;
    }
    .main-page h5 {
      text-align: center;
    }

    .main-page .button {
      text-align: center;
    }
  }

.about-bg {
  height: 60vh;
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .3)), url(../img/about-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(15, 23, 43, .7);
}


.about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5fcf80;
  }
  
  @media (max-width: 768px) {
    .about .content .learn-more-btn {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }
  .butn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .butn::after, .butn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .butn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .butn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .butn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   .butn a {
    color: rgb(13, 165, 61);
   }
   
   .butn a:hover {
    color: white;
   }
   
   .butn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

  /* End About Us  Section */

  /*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
#why-us {
    margin-top: 20px;
}

.why-us .content {
    padding: 30px;
    background: var(--primary);
    border-radius: 4px;
    color: #fff;
  }
  
  .why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  .why-us .content p {
    margin-bottom: 30px;
  }
  
  .why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
  }
  
  .why-us .content .more-btn i {
    font-size: 14px;
  }
  
  .why-us .content .more-btn:hover {
    color: #5fcf80;
    background: #fff;
  }
  
  .why-us .icon-boxes .icon-box {
    text-align: center;
    background: #fff;
    padding: 40px 30px;
    width: 100%;
    border: 2px solid #06964e;
  }
  
  .why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }
  
  .why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
  }

/* End of Why Section*/  

  

  /*admissions */
  .admissions-bg {
    height: 60vh;
    background: linear-gradient(rgba(24, 29, 56, .5), rgba(24, 29, 56, .3)), url(../img/admissions-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .admission {
    border: none;
  }
  .main-admission {
    background-color: rgb(236, 238, 237);
    margin-top: 0;
  }
  .admission .body {
    padding-left: 50px;
  }
  .admission .body ul {
    padding: 0;
    list-style: none;
  }
  .admission .body ul li {
    padding-bottom: 10px;
    color: #181d38;
  }
  
  .admission .body ul li i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--primary);
  }
.buttn {
  padding-top: 10px;
  padding-bottom: 0;
}  
.buttn .app-title p{
  font-weight: bolder;
  font-size: 30px;
  color: #111111;
}
.buttn .inner-btn a {
  text-decoration: none;
  color: black;
}

  /*end of admissions*/
  
/*community section*/
.community {
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 8vh;
  border: none;
  background: var(--variable-color);
  border-radius: 8px;
}
.community p{
  color: var(--text-color);
  line-height: normal;
}
/*end of community section*/

/*assessment*/
.assessment {
  background: var(--variable-color);
  border: none;
  padding: 20px;
}
.assessment .inner-assessment{
  background: var(--variable-color);
  border: none;
}
.assessment .inner-assessment p{
  color: var(--text-color);
  line-height: normal;
}
/*end of assessment*/



/*curriculum*/
.curriculum-bg {
  height: 55vh;
  background: linear-gradient(rgba(24, 29, 56, .5), rgba(24, 29, 56, .3)), url(../img/curriculum-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subjects {
  margin-top: 20px;
  background-image: linear-gradient(var(--indigenous), rgb(187, 192, 133));

}
.subjects .subject-section {
  padding: 30px;
}
.curr-header {
  margin-top: 25px;
  margin-bottom: 25px;
}
.curr-header h2 {
  text-align: center;
}
/*end of curriculum*/

/*Sporting*/

.sports-bg {
  height: 60vh;
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .3)), url(../img/spoting-main.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sport{
  border: none;
}
.sport .sporting {
  border: none;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

@media (max-width: 728px) {
  .sport .sporting {
    border: none;
    padding-left: 30px;
    padding-right: 30px;
  }
  
}


.sport p {
  color: #181d38;
  line-height: normal;
}
.participation-item {
  border-radius: 8px;
}
/*End of Sporting*/

/*showcasing*/
.course-item .showcasing {
  padding: 20px;
  background-color:rgb(208, 219, 214);
  color: rgb(24, 22, 22);
  border-radius: 8px;
}
.course-item .pic {
  border-radius: 8px;
}
.course-item .participation-item {
  border-radius: 8px;
  background-color: #eaab0dfe;
  padding: 20px;
  color: #eef1ea;
  border: none;
  shape-margin: 10%;
}
.award img {
  width: 70px;
  height: 70px;
  background-color: white;
  margin-bottom: 10px;
}
/*end of showcasing */

/*achievements */

.achievements {
  padding-top: 5%;
}
.achieve {
  padding: 25px;
  background-color: var(--indigenous);

}
.achieve p {
  color: rgb(237, 227, 227);
}
.achieve h5 {
  color:  #eaab0dfe;
}
.course-item .achieve .award {
  align-items: center;
}

.course-item .achieve .award i {
  color:  #eaab0dfe;
  font-size: 45px;
  font-weight: 10px;
}
/*End of achievements */

/*Staff */
.staff-bg {
  height: 55vh;
  background: linear-gradient(rgba(24, 29, 56, .5), rgba(24, 29, 56, .3)), url(../img/staff-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.head img {
  width: 100%;
  height: 10%;
  border-radius: 8px;

  
}
/*End of Staff */

/*# Team
--------------------------------------------------------------*/
.members-bg {
  background-color: rgb(236, 238, 237);
}
.team-title {
  margin-top: 50px;
}
.team-title h2 {
  text-align: center;

}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background-color:rgb(208, 219, 214);
  position: relative;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #111111;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: #69a480;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #111111;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #111111;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #393333;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #201a1a;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*contact-info*/
.contact-bg {
  height: 55vh;
  background: linear-gradient(rgba(24, 29, 56, .5), rgba(24, 29, 56, .3)), url(../img/contact-main.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c-icon-bg {
  background-color: var(--primary);
}
/*end of contact-info*/

/*news*/
.news-bg {
  height: 55vh;
  background: linear-gradient(rgba(24, 29, 56, .5), rgba(24, 29, 56, .3)), url(../img/news-main.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*end of news*/

/*events*/
.events {
  background: url(../img/running-main-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;

}

.events::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.events-title h2 {
  color: white;
}


.events .container {
  position: relative;
}

@media (min-width: 1024px) {
  .events {
    background-attachment: fixed;
  }
}
/*end of events*/


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #e03a3c;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(17, 17, 17, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(17, 17, 17, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #e03a3c;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e03a3c;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(17, 17, 17, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

